.imagenes{
	width: 20%;
	border-radius: 10%;
}
img{
	max-height: 550px;

}
.nosotros{
	font-size: 80%;
	text-align: left;
	justify-content: left;
}
.nosotros2{
	font-size: 80%;
	text-align: center;
	justify-content: center;
}
.row{
	margin-top: 50px;
}
.nosotros img{
	max-width: 30vw;

}
.form-control{
	     max-height: 25px;
}
#message{
	max-height: 100px;
}